.root {
  background: linear-gradient(274.42deg, #008080 0%, #00ffa3 124.45%);
  border-radius: 20px;
  color: white;
  padding: 12px 72px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0px 15px 55px -10px #00FFF033;
}
