@import "../../../scss/variables";

.root {
  padding: 40px 90px 0 80px;

  .title {
    font-size: 32px;
    margin-bottom: 20px;
    line-height: 42.26px;
  }

  .subtitle {
    margin-bottom: 70px;
    font-size: 16px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: start;

    .input_container {
      width: 100%;

      .password_eye {
        float: right;
        margin-right: 15px;
        margin-top: -55px;
        position: relative;
        z-index: 2;
      }
    }

    .rememberMe_checkbox {
      input {
        position: absolute;
        z-index: -1;
        opacity: 0;
      }

      label {
        color: white;
      }

      input + label {
        display: inline-flex;
        align-items: center;
        user-select: none;
      }

      input + label::before {
        content: "";
        display: inline-block;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid white;
        border-radius: 6px;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
      }

      input:checked + label::before {
        border-color: $spring-green;
        background: $spring-green;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
      }
    }

    .signUp_btn {
      margin-top: 40px;
      width: 100%;
      text-align: center;

      p {
        margin: 15px 0;
        color: #f7f8f880;
        font-size: 16px;
        a {
          font-size: 16px;
          color: #00fff0;
        }
      }
    }
  }
}
